<header>
  <nav>
    <h1>CRUD Snippets</h1>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/snippets">Snippets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/snippets/create">Create snippet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/snippets/login">Log in</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
