<h1>Create snippet</h1>
<form class="row g-3" method="post" action="./create"> <!-- REMOVED /snippets FOR . -->
  <label for="title">Snippet title:</label>
      <input type="text" id="title" name="title" value="<%= viewData?.value %>" required>
      <label for="body">Code snippet:</label>
      <textarea id="body" name="snippet" required></textarea>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>
