<h1>Create snippet</h1>
<form class="row g-3" method="post" action="/snippets/create">
  <label for="title">Snippet title:</label>
      <input type="text" id="title" name="title" required>
      <label for="body">Code snippet:</label>
      <textarea id="body" name="body" required></textarea>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>
