<h1>Log in</h1>
<form class="row g-3" method="post" action="./login"> <!-- ACTION NEEDS TO BE FIXED - TO LOG IN - WHY DOES THIS SEEM TO WORK WITHOUT ACTION FILLED OUT? - NOW TRYING WITH ./LOGIN AND THE UPDATE VERSION -->
  <label for="title">User name:</label>
      <input type="text" id="usernameInput" name="username" required>
      <label for="body">Password:</label>
      <input id="passwordInput" name="password" type="password" required>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Log in</button>
  </div>
</form>