<h1>Register</h1>
<form class="row g-3" method="post" action="./register"> <!-- ACTION NEEDS TO BE FIXED - TO LOG IN -->
  <label for="title">User name:</label>
      <input type="text" id="usernameNew" name="username" required>
      <label for="body">Password:</label>
      <input id="passwordNew" name="password" type="password" required>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Register</button>
  </div>
</form>